@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(236.85deg, #380185 27.26%, #006ed4 96.03%);
  /*   background-repeat: no-repeat; */
  /*   background-position: center;
  background-size: cover; */
  font-family: "Roboto Mono", monospace;
  /*   height: 100vh; */
}
.container {
  background: #07021c;
  margin: 50px;
  border-radius: 40px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 55px;
}
.color {
  color: white;
  justify-content: center;
}
.color h1 {
  font-size: 36px;
  font-weight: 700;
}
.color h3 {
  font-size: 24px;
  font-weight: 400;
}
.perfil {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /*   background: red; */
}
.cabecalho {
  display: flex;
  justify-content: space-between;
}

.foto {
  border-radius: 400px;
  max-height: 160px;
  margin-right: 20px;
}
.tema button {
  align-self: flex-end;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 12px;
  background: #ecf4ff;
  border-radius: 100px;
}
.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}
.projetos-ul {
  color: #1c1c1c;
  list-style: none;
  font-weight: 700;
  font-size: 32px;
  margin-left: 20px;
}
.projetos-ul p {
  margin-bottom: 15px;
}
.projetos-ul li {
  margin-bottom: 10px;
}
.itens {
  margin-right: 20px;
  font-size: 24px;
  font-weight: 400;
}
.itens a {
  color: #1c1c1c;
  text-decoration: none;
}
.light {
  background: linear-gradient(236.85deg, #210432 27.26%, #3c34a7 96.03%);
}
.light .container {
  background: #f7f7f7;
}
.light .color {
  color: #1c1c1c;
}
.light .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}